:root {
  --estimated-header-height: calc(136rem / 16);

  @screen lg {
    --estimated-header-height: calc(186rem / 16);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  font-weight: 700;
}

img {
  max-height: 100%;
}
